body {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Rubik", sans-serif;
  /* 
  font-family: 'Mulish', sans-serif; */
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

header {
  max-width: 100%;
  background: #7AC751;
}

.header {
  max-width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}
.header h3 {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #FFFFFF;
}
.header img {
  cursor: pointer;
  margin-left: 8px;
}
.header p {
  width: 2.2px;
  height: 19px;
  background: #FFFFFF;
  color: #FFFFFF;
  margin-left: 20px;
}
.header b {
  font-weight: normal;
  line-height: 19px;
  color: #FFFFFF;
  margin-left: 20px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search input {
  padding: 15px;
  font-family: Rubik;
  font-size: 14px;
  width: 582px;
  height: 46px;
  border: 2px solid #7AC751;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}
.search input:hover {
  background: #E5E5E5;
}
.search button {
  width: 55px;
  height: 43px;
  background: #7AC751;
  border-radius: 0px 7px 6px 0px;
}

.notification a {
  margin-left: 26px;
}

.navbar-bg {
  max-width: 100%;
  background: #F7F8FA;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 67px;
  background: #7AC751;
  cursor: pointer;
}
.navbar .collections h3 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navbar .menu a {
  text-decoration: none;
  font-size: 14px;
  color: #555555;
}

.nav-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 71px;
}
.nav-slider .menu-list {
  width: 260px;
  height: 454px;
  background: #F7F8FA;
}

.support-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.support-block .support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.support-block .support .support-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 15px;
}
.support-block .support .support-text b {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #555555;
}
.support-block .support .support-text i {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
}

.modern {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.modern .modern-box-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-box h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-bottom: 45px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #555555;
}
.products-box .trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.products-box .trending a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #C2C2C2;
  text-decoration: none;
}
.products-box .trending a:hover {
  color: #7AC751;
}
.products-box article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 73px;
  margin-bottom: 58px;
}
.products-box article div {
  margin: 0 0 20px;
}
.products-box article div h4 {
  margin: 0;
  margin-top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
}
.products-box article div h3 {
  margin-top: 9px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555555;
}
.products-box .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.products-box .product-price .box-price b {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #7AC751;
  margin-right: 7px;
}
.products-box .product-price .box-price i {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #CCCCCC;
}
.products-box .product-price img {
  cursor: pointer;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 99px;
}
.circle img {
  margin-right: 14px;
  cursor: pointer;
}

.box-room {
  margin-bottom: 120px;
}
.box-room h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #555555;
  margin: 0 0 60px;
}
.box-room .box-room-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination .next-page {
  padding: 12px;
  max-width: 161px;
  max-height: 44px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  background: #7AC751;
  border-radius: 2px;
  color: #FFFFFF;
}
.pagination .page {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.008em;
  color: #757575;
}
.pagination .page b {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.008em;
  color: #757575;
}
.pagination .page input {
  padding: 7px;
  max-width: 58px;
  max-height: 29px;
  background: #F8FAFB;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: 0.008em;
  color: #757575;
}
.pagination .page i {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.008em;
  color: #757575;
}
.pagination .page-arrow {
  max-width: 58px;
  max-height: 29px;
  background: #7AC751;
  border-radius: 2px;
}

.box-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-customer .customer-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #555555;
}
.box-customer .customer-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 816px;
  max-height: 312px;
  background: #F8FAFB;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.box-customer .customer-bg p {
  max-width: 566px;
  margin-bottom: 32px;
  margin-top: 80px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #515151;
}
.box-customer .customer-bg b {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #555555;
  margin-bottom: 8px;
}
.box-customer .customer-bg i {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #515151;
}

footer {
  margin-top: 115px;
  border-bottom: 1px solid #E5E5E5;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 51px;
}
footer .footer p {
  width: 318px;
}
footer .help h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  letter-spacing: 0.01em;
  color: #555555;
}
footer .help ul {
  padding: 0;
  list-style-type: none;
}
footer .help ul a {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #555555;
  text-decoration: none;
}
footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer-nav img {
  max-width: 147px;
}
footer .footer-nav p {
  margin: 0;
  margin-top: 18px;
  font-size: 16px;
  line-height: 32px;
  color: #555555;
}
footer .footer-nav .social-img img {
  margin-right: 15px;
}

.corporation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 81px;
}
.corporation h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
  padding: 0;
  margin: 0;
}
.corporation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.corporation ul li {
  margin-left: 53px;
}
.corporation ul li a {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
  text-decoration: none;
}